<div class="row">
  <% @posts.each do |post| %>
    <% if post.post_images.attached? %>
      <% post.post_images.each do |post_image| %>
        <div class="col-md-6 col-xl-4">
          <small class="card">
            <div class="card-header">
              <p class="card-title"><%= post.user.user_name %></p>
              <p class="card-text">
                <p class="text-muted">
                  <%= "投稿：#{I18n.localize post.created_at, format: :long}" %>
                  <%= "更新：#{I18n.localize post.updated_at, format: :long}" %>
                </p>
              </p>
            </div>
            <%= image_tag post_image, class: "img-fluid" %>
            <div class="card-body">
              <p class="card-text"><%= post.comment %></p>
              <p class="card-text"><%= "思い出の日付：#{post.memorized_on}" %></p>
              <p class="card-text">タグ：
                <% post.tags.distinct.each do |tag| %>
                  <span class="bg-info bg-opacity-75 border border-dark rounded"><%= tag.tag_name %></span>
                <% end %>
              </p>
              <p class="card-text">公開範囲：
                <% if post.groups.present? %>
                  <% post.groups.each do |group| %>
                    <span class="bg-info bg-opacity-75 border border-dark rounded">
                      <%= group.group_name %>
                    </span>
                  <% end %>
                <% else %>
                  <span class="bg-info bg-opacity-75 border border-dark rounded">
                    <%= "非公開" %>
                  </span>
                <% end %>
              </p>
            </div>
            <div class="card-footer">
              <div class="card-text">
                <% if favorited_by?(post, current_user).present? %>
                  <%= link_to post_favorites_path(post.id), method: :delete do %>
                    <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: red;"></i><%= favorited_by?(post, current_user).size %>
                  <% end %>
                <% else %>
                  <%= link_to post_favorites_path(post.id), method: :post do %>
                    <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i><%= favorited_by?(post, current_user).size %>
                  <% end %>
                <% end %>
                <% if bookmarked_by?(post, current_user).present? %>
                  <%= link_to post_bookmarks_path(post.id), method: :delete do %>
                    <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: blue;"></i>
                  <% end %>
                <% else %>
                  <%= link_to post_bookmarks_path(post.id), method: :post do %>
                    <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i>
                  <% end %>
                <% end %>
                <%= link_to "投稿詳細/リプライ(#{replies_count(post)})", post_path(post.id), class: "card-link link-info text-decoration-none" %>
              </div>
            </div>
          </small>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
