<h1>グループ詳細・メンバー編集</h1>

<% if group_user(@group, current_user) %>
  <ul class="nav justify-content-center">
    <% unless group_user(@group, current_user).accepted? %>
      <li><h4 class="text-info"><%= "#{@group.group_name}に招待されています！" %></h4></li>
      <li>
        <%= form_with url: group_group_user_path(@group.id, group_user(@group, current_user).id), method: :patch do |f| %>
          <%= f.hidden_field :accepted, value: true %>
          <%= f.submit "参加する", class: "btn btn-primary" %>
        <% end %>
      </li>
      <li><%= link_to "参加しない", group_group_user_path(@group.id, group_user(@group, current_user).id), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "btn btn-primary" %></li>
    <% else %>
      <li><%= link_to "グループ情報を編集する", edit_group_path(@group.id), class: "btn btn-primary" %></li>
    <% end %>
    <li><%= link_to "グループ一覧に戻る", groups_path, class: "btn btn-primary" %></li>
  </ul>
<% end %>

<div class="row">
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4 img-fluid">
        <%= image_tag @group.group_avatar.variant(resize:'200x200') if @group.group_avatar.attached? %>
      </div>
      <div class="col-md-8">
        <div class="card-header">
          <h3 class="card-title"><%= @group.group_name %></h3>
          <p class="card-text">
            <p class="text-muted">
              <%= "作成：#{I18n.localize @group.created_at, format: :long}" %>
              <%= "更新：#{I18n.localize @group.updated_at, format: :long}" %>
            </p>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text"><%= @group.group_profile %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>所属メンバー</h3>
    <div class="row">
      <% @group.users.each do |user| %>
        <% if group_user(@group, user).accepted? %>
          <%= form_with url: group_group_user_path(@group.id, group_user(@group, user).id), method: :delete do |f| %>
            <div class="card mb-3 col-md-6 img-fluid">
              <%= link_to admin_user_path(user.id), class: "nav-link link-info" do %>
                <%= image_tag user.user_avatar, size: "32x32", class: "rounded-circle me-2" if user.user_avatar.attached? %>
                <strong><%= user.user_name %></strong>
              <% end %>
              <%= f.submit "メンバーから削除する" if group_user(@group, current_user)&.accepted? %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h3>招待中メンバー</h3>
    <div class="row">
      <% @group.users.each do |user| %>
        <% unless group_user(@group, user).accepted? %>
          <%= form_with url: group_group_user_path(@group.id, group_user(@group, user).id), method: :delete do |f| %>
            <div class="card mb-3 col-md-6 img-fluid">
              <%= link_to admin_user_path(user.id), class: "nav-link link-info" do %>
                <%= image_tag user.user_avatar, size: "32x32", class: "rounded-circle me-2" if user.user_avatar.attached? %>
                <strong><%= user.user_name %></strong>
              <% end %>
              <%= f.submit "招待を取り消す" if group_user(@group, current_user)&.accepted? %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md">
    <h3>その他ユーザー</h3>
    <div class="row">
      <% @users.each do |user| %>
        <% unless group_user(@group, user).present? %>
          <%= form_with url: group_group_users_path(@group.id), method: :post do |f| %>
            <div class="card mb-3 col-md-3 img-fluid">
              <%= link_to admin_user_path(user.id), class: "nav-link link-info" do %>
                <%= image_tag user.user_avatar, size: "32x32", class: "rounded-circle me-2" if user.user_avatar.attached? %>
                <strong><%= user.user_name %></strong>
              <% end %>
              <%= f.hidden_field :group_id, value: @group.id %>
              <%= f.hidden_field :user_id, value: user.id %>
              <%= f.hidden_field :accepted, value: false %>
              <%= f.submit "ユーザーを招待する" if group_user(@group, current_user)&.accepted? %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
