<% if @post.errors.present? %>
  <% @post.errors.full_messages.each do |error_message| %>
    <ul>
      <li><%= error_message %></li>
    </ul>
  <% end %>
<% end %>

<h1>投稿詳細</h1>

<%= form_with model: @post do |f| %>
  <ul class="nav justify-content-center">
    <li><%= link_to "ホームに戻る", home_path, class: "btn btn-primary" %></li>
    <li><%= f.submit "投稿を更新する", class: "btn btn-primary" %></li>
    <li><%= link_to "投稿詳細画面に戻る", post_path(@post.id), class: "btn btn-primary" %></li>
    <li><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "btn btn-primary" %></li>
  </ul>
  <table class="table table-striped">
    <tr>
      <th><%= "ユーザー名" %></th>
      <td><%= @user.user_name %></td>
    </tr>
    <tr>
      <th><%= "投稿日時" %></th>
      <td><%= I18n.localize @post.created_at, format: :long %></td>
    </tr>
    <tr>
      <th><%= "前回の更新日時" %></th>
      <td><%= I18n.localize @post.updated_at, format: :long %></td>
    </tr>
    <tr>
      <th><%= f.label :comment, "コメント" %></th>
      <td><%= f.text_field :comment, class: "form-control" %></td>
    </tr>
    <tr>
      <th><%= f.label :memorized_on, "思い出の日付" %></th>
      <td><%= f.date_field :memorized_on, class: "form-control" %></td>
    </tr>
    <%# <tr> %>
      <%# <th><%= f.label :location, "思い出のロケーション" %></th> %>
      <%# <td><%= f.text_field :location, default: Date.today, class: "form-control" %></td> %>
    <%# </tr> %>
    <%# <tr> %>
      <%# <th><%= f.label :tags, "タグ（複数タグ付けは，単語間にスペースを入れる）" %></th> %>
      <%# <td><%= f.text_field :tags, class: "form-control" %></td> %>
    <%# </tr> %>
    <%# <tr> %>
      <%# <th><%= f.label :disclosure_range, "公開範囲" %></th> %>
      <%# <td><%= f.collection_select :disclosure_range, @posts, :group_name, :group_name, {selected: "非公開"}, class: "form-control" %></td> %>
    <%# </tr> %>
    <tr>
      <th><%= f.label :post_images, "思い出の画像" %></th>
      <td><%= f.file_field :post_images, multiple: true, class: "form-control", accept: "image/jpeg,image/gif,image/png" %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "詳細・補足" %></th>
      <td><%= f.text_area :description, class: "form-control" %></td>
    </tr>
  </table>
<% end %>
