<h1>ホーム</h1>

<h3>思い出Map</h3>
<div id="map"></div>
<script>
let map
let marker =[]
let infoWindow = []

function initMap(){
  let markerData = gon.places

  // 初期表示の中心を東京駅に指定．
  map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: 35.68123620000001, lng: 139.7671248},
        zoom: 5,
  })

  for (let i = 0; i < markerData.length; i++) {
    let markerLatLng = new google.maps.LatLng({lat: markerData[i]['latitude'], lng: markerData[i]['longitude']})

    // マーカーの表示．
    marker[i] = new google.maps.Marker({
                map: map,
                position: markerLatLng
    })

    // マーカーの吹き出し表示．
    infoWindow[i] = new google.maps.InfoWindow({
    content: `<a href="#">${markerData[i]['location']}</a>`
    });

    markerEvent(i);
  }

  // マーカークリック時に吹き出しを表示.
  function markerEvent(i) {
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]);
    })
  }
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>

<br>

<h3>思い出投稿</h3>
<% @posts.each do |post| %>
  <div class="card mb-3 col-md-6">
    <div class="row g-0">
      <div class="col-md-4 img-fluid">
        <% if post.post_images.attached? %>
          <% post.post_images.each do |post_image| %>
            <%= image_tag post_image.variant(resize:'100x100') %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-header">
          <h5 class="card-title"><%= post.user.user_name %></h5>
          <p class="card-text">
            <small class="text-muted">
              <%= "投稿：#{I18n.localize post.created_at, format: :long}" %>
              <%= "更新：#{I18n.localize post.updated_at, format: :long}" %>
            </small>
          </p>
        </div>
        <div class="card-body">
          <p class="card-text"><%= post.comment %></p>
          <p class="card-text"><%= "思い出の日付：#{post.memorized_on}" %></p>
          <p class="card-text"><%= "思い出のロケーション：#{post.map.location}" if post.map.present? %></p>
          <p class="card-text">タグ：
            <% post.tags.distinct.each do |tag| %>
              <span class="bg-info bg-opacity-75 border border-dark rounded"><%= tag.tag_name %></span>
            <% end %>
          </p>
          <p class="card-text"><%= "公開範囲：#{post.disclosure_range}" %></p>
        </div>
        <div class="card-footer">
          <div class="card-text">
            <% if post.favorited_by?(current_user) %>
              <%= link_to post_favorites_path(post.id), method: :delete do %>
                <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: red;"></i><%= post.favorites.size %>
              <% end %>
            <% else %>
              <%= link_to post_favorites_path(post.id), method: :post do %>
                <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i><%= post.favorites.size %>
              <% end %>
            <% end %>
            <% if post.bookmarked_by?(current_user) %>
              <%= link_to post_bookmarks_path(post.id), method: :delete do %>
                <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: blue;"></i>
              <% end %>
            <% else %>
              <%= link_to post_bookmarks_path(post.id), method: :post do %>
                <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i>
              <% end %>
            <% end %>
            <%= "リプライ有無" %>
            <%= link_to "投稿詳細/リプライ(#{post.replies.size})", post_path(post.id), class: "card-link link-info text-decoration-none" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
