<% if @post.errors.present? %>
  <% @post.errors.full_messages.each do |error_message| %>
    <ul>
      <li><%= error_message %></li>
    </ul>
  <% end %>
<% end %>

<h1>新規投稿</h1>

<%= form_with model: @post do |f| %>
  <ul class="nav justify-content-center">
    <li><%= link_to "ホームに戻る", home_path, class: "btn btn-primary" %></li>
    <li><%= f.submit "投稿する", class: "btn btn-primary" %></li>
  </ul>
  <div class="form-group">
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :memorized_on, "思い出の日付" %>
    <%= f.date_field :memorized_on, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :location, "思い出のロケーション" %>
    <%= f.text_field :location, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tag_name, "タグ（複数タグ登録は，単語間にコンマ[,]またはスペースを挿入．）" %>
    <%= f.text_field :tag_name, placeholder: "複数タグ登録は，単語間にコンマ[,]またはスペースを挿入．", class: "form-control" %>
  </div>
  <div class="form-group">
    <h6>公開範囲（公開先グループを選択してください．未選択で非公開にできます．）</h6>
    <%= f.collection_check_boxes(:group_ids, @groups, :id, :group_name) do |b| %>
      <span class="bg-success">
        <%= b.check_box %>
        <%= image_tag b.object.group_avatar, size: "32x32", class: "rounded-circle me-2" if b.object.group_avatar.attached? %>
        <%= b.object.group_name %>
      </span>
    <% end %>
  </div>
  <div class="form-group">
    <%= f.label :post_images, "思い出の画像" %>
    <%= f.file_field :post_images, multiple: true, class: "form-control", accept: "image/jpeg,image/gif,image/png" %>
  </div>
  <div class="form-group">
    <%= f.label :description, "詳細・補足" %>
    <%= f.text_area :description, class: "form-control" %>
  </div>
<% end %>
