<h1>投稿詳細</h1>

<ul class="nav justify-content-center">
  <li><%= link_to "ホームに戻る", home_path, class: "btn btn-primary" %></li>
  <li><%= link_to "画像一覧へ戻る", posts_path, class: "btn btn-primary" %></li>
  <% if @post.user_id == current_user.id %>
    <li><%= link_to "投稿を編集する", edit_post_path(@post.id), class: "btn btn-primary" %></li>
    <li><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "btn btn-primary" %></li>
  <% elsif @post.user_id == current_user.id || current_user.admin? %>
    <li><%= link_to "投稿を削除する", post_path(@post.id), method: :delete, data: {confirm: "投稿を削除しますか？"}, class: "btn btn-primary" %></li>
  <% end %>
</ul>

<table class="table table-striped">
  <tr>
    <th><%= "ユーザー名" %></th>
    <td><%= @post.user.user_name %></td>
  </tr>
  <tr>
    <th><%= "投稿日時" %></th>
    <td><%= I18n.localize @post.created_at, format: :long %></td>
  </tr>
  <tr>
    <th><%= "更新日時" %></th>
    <td><%= I18n.localize @post.updated_at, format: :long %></td>
  </tr>
  <tr>
    <th><%= "コメント" %></th>
    <td><%= @post.comment %></td>
  </tr>
  <tr>
    <th><%= "思い出の日付" %></th>
    <td><%= @post.memorized_on %></td>
  </tr>
  <%# <tr> %>
    <%# <th><%= "思い出のロケーション" %></th> %>
    <%# <td><%= @post.location %></td> %>
  <%# </tr> %>
  <%# <tr> %>
    <%# <th><%= "タグ" %></th> %>
    <%# <td><%= @post.tags %></td> %>
  <%# </tr> %>
  <tr>
    <th><%= "公開範囲" %></th>
    <td><%= @post.disclosure_range %></td>
  </tr>
  <tr>
    <th><%= "思い出の画像" %></th>
    <td>
      <div class="col-md-4 img-fluid">
        <% if @post.post_images.attached? %>
          <% @post.post_images.each do |post_image| %>
            <%= image_tag post_image.variant(resize:'200x200') %>
          <% end %>
        <% end %>
      </div>
    </td>
  </tr>
  <tr>
    <th><%= "詳細・補足" %></th>
    <td><%= @post.description %></td>
  </tr>
  <tr>
    <th><%= "お気に入り" %></th>
    <td>
      <% if @post.favorited_by?(current_user) %>
        <%= link_to post_favorites_path(@post.id), method: :delete do %>
          <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: red;"></i><%= @post.favorites.size %>
        <% end %>
      <% else %>
        <%= link_to post_favorites_path(@post.id), method: :post do %>
          <i class="fa fa-thumbs-up fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i><%= @post.favorites.size %>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= "ブックマーク" %></th>
    <td>
      <% if @post.bookmarked_by?(current_user) %>
        <%= link_to post_bookmarks_path(@post.id), method: :delete do %>
          <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: blue;"></i>
        <% end %>
      <% else %>
        <%= link_to post_bookmarks_path(@post.id), method: :post do %>
          <i class="fa fa-bookmark fa-lg fa-fw" aria-hidden="true" style="color: gray;"></i>
        <% end %>
      <% end %>
    </td>
  </tr>
  <tr>
    <th><%= "リプライ" %></th>
    <td><%=  %></td>
  </tr>
</table>
