<h1>ユーザー一覧</h1>

<%= link_to "アカウント登録", new_admin_user_path, class: "nav justify-content-end nav-link" %>

<table class="table table-striped">
  <thead class="thead-default">
    <tr>
      <th><%= "ユーザー名" %></th>
      <th><%= "メールアドレス" %></th>
      <th><%= "管理者権限" %></th>
      <th><%= "登録日時" %></th>
      <th><%= "更新日時" %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.admin %></td>
        <td><%= I18n.localize user.created_at, format: :long %></td>
        <td><%= I18n.localize user.updated_at, format: :long %></td>
        <td><%= link_to "詳細", admin_user_path(user.id), class: "btn btn-primary mr-3" %></td>
        <td><%= link_to "削除", admin_user_path(user.id), method: :delete, data: {confirm: "ユーザー「#{user.user_name}」を削除しますか？"}, class: "btn btn-primary mr-3" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
