<div sidebar_fixed>
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">LOGO</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <% unless current_user %>
        <li class="nav-item">
          <%= link_to "ゲストログイン", guest_login_path, method: :post %>
        </li>
        <li class="nav-item">
          <%= link_to admin_user_path(current_user.id), class: "nav-link link-info" do %>
            <%= image_tag "login.png", size: "32x32", class: "me-2" %>
            <strong>ログイン</strong>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "ユーザー登録", new_admin_user_path %>
        </li>
        <li class="nav-item">
          <%= link_to "アプリ紹介" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "ユーザーアイコン", admin_user_path(current_user.id), class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to admin_user_path(current_user.id), class: "nav-link link-info" do %>
            <%= image_tag "home.png", size: "32x32", class: "me-2" %>
            <strong>ホーム</strong>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to "画像一覧", class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "新規投稿", new_post_path, class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "投稿絞り込み", class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "グループ編集", admin_users_path, class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "通知", class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "アプリ紹介", class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "アカウント詳細", admin_user_path(current_user.id), class: "nav-link link-info" %>
        </li>
        <li class="nav-item">
          <%= link_to "ログアウト", logout_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav-link link-info" %>
        </li>
        <hr>
        <li class="nav-item">
          <%= link_to admin_user_path(current_user.id), class: "nav-link link-info" do %>
            <%= image_tag current_user.user_avatar, size: "32x32", class: "rounded-circle me-2" if current_user.user_avatar.attached? %>
            <strong><%= current_user.user_name %></strong>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
